* {
    animation: fadein 1s forwards;
}

@keyframes fadein {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
body {
    background-color: #8a7479;
    font-family: 'Gamja Flower', sans-serif;
    font-size: 20px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #efdde8;
    color: #8a7479;
    position: fixed;
    top: 0;
}
li {
    float: left;
    border-right: 1px solid #8a7479;
}
li a {
    display: block;
    color: #8a7479;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}
li a:hover:not(.home) {
    background-color: #544d4e;
    color: #efdde8;
}
.home {
    background-color: #8a7479;
    color: #efdde8;
}
.all {
    position: absolute;
    top: 20%;
    display: flex;
    flex-flow: wrap row; /*折り返し*/
    justify-content: center; /*증앙*/
    justify-content: space-around; /*両端に均等な*/
}
img {
    opacity: 0.2 !important;
    width: 300px;
    height: 200px;
}
.Music {
    position: relative;
}
.Music p {
    color: #efdde8;
    font-size: 45px;
    opacity: 0.7 !important;
    position: absolute;
    top: 35%;
    left: 35%;
    margin: 0;
    padding: 0;
}
.Music a {
    text-decoration: none;
    color: #efdde8;
}
.Youtube {
    position: relative;
}
.Youtube p {
    color: #efdde8;
    font-size: 45px;
    opacity: 0.7 !important;
    position: absolute;
    top: 35%;
    left: 30%;
    margin: 0;
    padding: 0;
}
.Youtube a {
    color: #efdde8;
    text-decoration: none;
}
.Women {
    position: relative;
}
.Women p {
    color: #efdde8;
    font-size: 35px;
    opacity: 0.7 !important;
    position: absolute;
    top: 40%;
    left:10%;
    margin: 0;
    padding: 0;
}
.Women a {
    text-decoration: none;
    color: #efdde8;
}
.Girls {
    position: relative;
}
.Girls p {
    color: #efdde8;
    font-size: 35px;
    opacity: 0.7 !important;
    position: absolute;
    top: 40%;
    left:10%;
    margin: 0;
    padding: 0;
}
.Girls a {
    text-decoration: none;
    color: #efdde8;
}
.Pro {
    position: relative;
}
.Pro p {
    color: #efdde8;
    font-size: 40px;
    opacity: 0.7 !important;
    position: absolute;
    top: 35%;
    left:20%;
    margin: 0;
    padding: 0;
}
.Pro a {
    text-decoration: none;
    color: #efdde8;
}
select {
    position: fixed;
    top: 20px;
    right: 30px;
    width: 140px;
    border: none;
    color: #8a7479;
    font-family: 'Poor Story', 'Sawarabi Gothic';
}